<div class="block block--green block--about">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content">
        <h1 class="block__title">ABOUT PERSONA</h1>
        <p class="block__desc">
          At Persona we develop advanced mobile photo and video editing
          technologies. Our goal is to make content creation easy and accessible
          for everyone.
        </p>
        <p class="block__desc">
          The company was established by Vladyslav Urazov and Bogdan Matveev,
          artificial intelligence and machine learning enthusiasts.
        </p>
        <p class="block__desc">
          To share your thoughts and ideas, please, contact us at
          <a href="mailto:contact@persona.camera" class="link"
            >contact@persona.camera</a
          >
          or via
          <a
            href="https://www.linkedin.com/in/vladislav-urazov/"
            target="_blank"
            class="link"
            >LinkedIn</a
          >
        </p>

        <div class="block__back">
          <a class="btn btn--back" [routerLink]="['/']">
            <img class="btn__icon" src="./assets/svg/arrow-back.svg" alt="" />
            Back
          </a>
        </div>

        <div class="block__action">
          <app-button-app></app-button-app>
        </div>
      </div>
    </div>
  </div>
</div>
