<div class="block block--center block--models">
  <div class="block__body">
    <div class="block__content">
      <h2 class="block__title block__title--700">MODELS' FAVOURITE APP</h2>
      <p class="block__desc">
        Our app is used by fashion models and content creators all over the
        world. Persona masks help them highlight their beauty without changing
        their facial features.
      </p>
    </div>
    <div class="block__gallery">
      <img
        class="block__img"
        src="./assets/img/blocks/models-gallery.png"
        alt=""
      />
    </div>
  </div>
</div>

<!-- <div class="block block--center block--models">
  <div class="block__body">
    <div class="block__content">
      <h2
        class="block__title block__title--700 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1s"
      >
        MODELS' FAVOURITE APP
      </h2>
      <p
        class="block__desc wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1.25s"
      >
        Our app is used by fashion models and content creators all over the
        world. Persona masks help them highlight their beauty without changing
        their facial features.
      </p>
    </div>
    <div class="block__gallery">
      <img
        class="block__img wow zoomIn"
        data-wow-duration="1s"
        data-wow-delay="1.25s"
        src="./assets/img/blocks/models-gallery.png"
        alt=""
      />
    </div>
  </div>
</div> -->
