<div class="block block--camera">
  <div class="block__body">
    <div class="block__content">
      <h2 class="block__title">Persona is your new beauty camera</h2>
      <p class="block__desc">from the creators of Gradient</p>
    </div>

    <div class="block-grad">
      <div class="block-grad__body">
        <div class="block-grad__content">
          <p class="block-grad__text">
            Persona: Beauty Camera is the latest app in a rapidly growing Ticket
            to the Moon, Inc.’s app portfolio.
          </p>
          <p class="block-grad__text">
            At Ticket to the Moon, Inc. we aim at making professional photo and
            video content easy and accessible for everyone.
          </p>
        </div>
        <div class="block-grad__images">
          <img
            class="block-grad__images-img"
            src="./assets/img/blocks/persona-gradient.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="block-pref">
      <div class="block-pref__item">
        <img
          class="block-pref__img"
          src="./assets/svg/icons/check.svg"
          alt=""
        />
        <p class="block-pref__text">
          <b>70M+</b> people create unique content with Gradient and Persona
        </p>
      </div>

      <div class="block-pref__item">
        <img
          class="block-pref__img"
          src="./assets/svg/icons/check.svg"
          alt=""
        />
        <p class="block-pref__text">
          Our apps were awarded by Apple as a <b>‘Best of 2019’</b> apps and the
          most downloaded
        </p>
      </div>

      <div class="block-pref__item">
        <img
          class="block-pref__img"
          src="./assets/svg/icons/check.svg"
          alt=""
        />
        <p class="block-pref__text">
          Celebrities choose our apps when creating content for their social
          profiles
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="block block--camera">
  <div class="block__body">
    <div class="block__content">
      <h2
        class="block__title wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1s"
      >
        Persona is your new beauty camera
      </h2>
      <p
        class="block__desc wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1.25s"
      >
        from the creators of Gradient
      </p>
    </div>

    <div class="block-grad">
      <div class="block-grad__body">
        <div class="block-grad__content">
          <p class="block-grad__text">
            Persona: Beauty Camera is the latest app in a rapidly growing Ticket
            to the Moon, Inc.’s app portfolio.
          </p>
          <p class="block-grad__text">
            At Ticket to the Moon, Inc. we aim at making professional photo and
            video content easy and accessible for everyone.
          </p>
        </div>
        <div class="block-grad__images">
          <img
            class="block-grad__images-img"
            src="./assets/img/blocks/persona-gradient.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="block-pref">
      <div
        class="block-pref__item wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1s"
      >
        <img
          class="block-pref__img"
          src="./assets/svg/icons/check.svg"
          alt=""
        />
        <p class="block-pref__text">
          <b>70M+</b> people create unique content with Gradient and Persona
        </p>
      </div>

      <div
        class="block-pref__item wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1s"
      >
        <img
          class="block-pref__img"
          src="./assets/svg/icons/check.svg"
          alt=""
        />
        <p class="block-pref__text">
          Our apps were awarded by Apple as a <b>‘Best of 2019’</b> apps and the
          most downloaded
        </p>
      </div>

      <div
        class="block-pref__item wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1s"
      >
        <img
          class="block-pref__img"
          src="./assets/svg/icons/check.svg"
          alt=""
        />
        <p class="block-pref__text">
          Celebrities choose our apps when creating content for their social
          profiles
        </p>
      </div>
    </div>
  </div>
</div> -->
