<div class="block block--center">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content">
        <h2
          class="block__title wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="1s"
        >
          Persona<br />
          Beauty camera
        </h2>
        <p
          class="block__desc wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="1.25s"
        >
          Persona makes every video look great!
        </p>
      </div>
    </div>
    <div class="block__possibilities">
      <div
        class="block__possibilities-item wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1s"
      >
        <div class="block__possibilities-body">
          <img
            class="block__possibilities-img"
            src="./assets/svg/possibilities/possibilities-1.svg"
            alt=""
          />
          <h3 class="block__possibilities-title">Amazing beauty camera</h3>
          <p class="block__possibilities-text">
            Finally, beauty filters that look real. Try them now and see for
            yourself
          </p>
        </div>
      </div>

      <div
        class="block__possibilities-item wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1.25s"
      >
        <div class="block__possibilities-body">
          <img
            class="block__possibilities-img"
            src="./assets/svg/possibilities/possibilities-2.svg"
            alt=""
          />
          <h3 class="block__possibilities-title">PRO REtouching</h3>
          <p class="block__possibilities-text">
            Persona automatically applies best retouching techniques!
          </p>
        </div>
      </div>

      <div
        class="block__possibilities-item wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="1.5s"
      >
        <div class="block__possibilities-body">
          <img
            class="block__possibilities-img"
            src="./assets/svg/possibilities/possibilities-3.svg"
            alt=""
          />
          <h3 class="block__possibilities-title">perfect videos everyday</h3>
          <p class="block__possibilities-text">
            Wrong angle or poor lighting won’t ruin your video ever again
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
