.block {
  &&--main {
    min-height: auto;

    &:after {
      content: "";
      position: absolute;
      top: 5%;
      right: -5%;
      display: block;
      width: 50vw;
      height: 50vw;

      background: rgb(62, 193, 149);
      background: -moz-radial-gradient(
        circle,
        rgba(62, 193, 149, 1) 0%,
        rgba(0, 0, 0, 1) 80%
      );
      background: -webkit-radial-gradient(
        circle,
        rgba(62, 193, 149, 1) 0%,
        rgba(0, 0, 0, 1) 80%
      );
      background: radial-gradient(
        circle,
        rgba(62, 193, 149, 1) 0%,
        rgba(0, 0, 0, 1) 80%
      );

      // opacity: 0.5;

      // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ec195",endColorstr="#000000",GradientType=1);
      // filter: blur(200px);
      // -webkit-filter: blur(200px);
    }

    .block__body {
      padding: 60px 0;
    }

    .block__title {
      letter-spacing: 3px;
    }

    .block__item.block__item--img .block__img {
      width: 100%;
      max-width: 600px;
    }
  }
}

// -------------------------------------------------------
// Mobile size
// -------------------------------------------------------
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .block {
    &&--main {
      .block__logo {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
      }
    }
  }
}
