<div class="block block--green block--main">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content">
        <img class="block__logo" src="./assets/img/logo.png" alt="" />
        <h1 class="block__title">PERSONA</h1>
        <p class="block__desc">
          Finally, beauty filters that look real. Try them now and see for
          yourself!
        </p>
        <div class="block__action">
          <app-button-app></app-button-app>
        </div>
      </div>
    </div>
    <div class="block__item block__item--img">
      <img
        src="./assets/img/blocks/main.png"
        class="block__img"
        alt="parallax-img"
      />

      <div class="block__action">
        <app-button-app></app-button-app>
      </div>
    </div>
  </div>
</div>

<!-- <div class="block block--green block--main">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content wow fadeIn">
        <img class="block__logo" src="./assets/img/logo.png" alt="" />
        <h1 class="block__title">PERSONA</h1>
        <p class="block__desc">
          Finally, beauty filters that look real. Try them now and see for
          yourself!
        </p>
        <div class="block__action">
          <a
            href="https://apps.apple.com/by/app/persona-beauty-camera/id1561622206"
            class="btn btn--store"
            target="_blank"
          >
            <img class="btn__img" src="./assets/svg/apple-store.svg" alt="" />
          </a>
          <a
            href="https://play.google.com/store/apps/details?id=com.tickettothemoon.persona&hl=en&gl=US"
            class="btn btn--store"
            target="_blank"
          >
            <img class="btn__img" src="./assets/svg/google-play.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="block__item block__item--img wow fadeIn">
      <img
        src="./assets/img/blocks/main.png"
        class="block__img"
        alt="parallax-img"
      />
    </div>
  </div>
</div> -->
