<div class="block block--green">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content wow fadeIn">
        <img class="block__logo" src="/assets/img/logo.png" alt="" />
        <h1 class="block__title">PERSONA</h1>
        <p class="block__desc">
          Finally, beauty filters that look real. Try them now and see for
          yourself!
        </p>
        <div class="block__action">
          <a href="#" class="btn btn--store">
            <img class="btn__img" src="/assets/svg/apple-store.svg" alt="" />
          </a>
          <a href="#" class="btn btn--store">
            <img class="btn__img" src="/assets/svg/google-play.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="block__item block__item--img wow fadeIn">
      <img
        src="/assets/img/blocks/main.png"
        class="block__img"
        alt="parallax-img"
        ngxParallaxScroll
        [parallaxSpeed]="0.5"
        [parallaxSmoothness]="1"
        [parallaxDirection]="'reverse'"
        [parallaxTimingFunction]="'linear'"
        [parallaxThrottleTime]="3"
      />
    </div>
  </div>
</div>
