<div class="block block--green block--main">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content">
        <img class="block__logo" src="./assets/img/logo.png" alt="" />
        <h1 class="block__title">PERSONA</h1>
        <p class="block__desc">
          Finally, beauty filters that look real. Try them now and see for
          yourself!
        </p>
        <div class="block__action">
          <app-button-app></app-button-app>
        </div>
      </div>
    </div>
    <div class="block__item block__item--img">
      <div class="block__item-navigate">
        <a class="btn btn--about" [routerLink]="['/about']"> About </a>
      </div>
      <img
        src="./assets/img/blocks/main.png"
        class="block__img"
        alt="parallax-img"
      />

      <div class="block__action">
        <app-button-app></app-button-app>
      </div>
    </div>
  </div>
</div>
