<div class="block block--face-filter">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content">
        <h2 class="block__title block__title--700">Natural Face Filters</h2>
        <p class="block__desc">
          Highlight your natural beauty and hide all blemishes with the help of
          the unique Persona beauty masks. Unlike other beauty cameras, Persona
          masks look perfectly real.
        </p>
        <div class="block__action">
          <app-button-app></app-button-app>
        </div>
      </div>
    </div>
    <div class="block__item block__item--img block__item--img-no-padding">
      <img
        class="block__img"
        src="./assets/img/blocks/natural-face-filters.png"
        alt=""
      />
      <div class="block__action">
        <app-button-app></app-button-app>
      </div>
    </div>
  </div>
</div>
<!-- <div class="block block--face-filter">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content">
        <h2
          class="block__title block__title--700 wow fadeInUp"
          Natural Face Filters
        </h2>
        <p
          class="block__desc wow fadeInUp"
        >
          Highlight your natural beauty and hide all blemishes with the help of
          the unique Persona beauty masks. Unlike other beauty cameras, Persona
          masks look perfectly real.
        </p>
        <div
          class="block__action wow fadeIn"
        >
          <a
            href="https://apps.apple.com/by/app/persona-beauty-camera/id1561622206"
            class="btn btn--store"
            target="_blank"
          >
            <img class="btn__img" src="./assets/svg/apple-store.svg" alt="" />
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.tickettothemoon.persona&hl=en&gl=US" class="btn btn--store" target="_blank">
            <img class="btn__img" src="./assets/svg/google-play.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="block__item block__item--img block__item--img-no-padding">
      <img
        class="block__img"
        src="./assets/img/blocks/natural-face-filters.png"
        alt=""
      />
    </div>
  </div>
</div> -->
