<div class="block">
  <div class="block__body">
    <div class="block__item">
      <div class="block__content">
        <h2 class="block__title">Natural Face Filters</h2>
        <p class="block__desc">
          Highlight your natural beauty and hide all blemishes with the help of
          the unique Persona beauty masks. Unlike other beauty cameras, Persona
          masks look perfectly real.
        </p>
        <div class="block__action">
          <a href="#" class="btn btn--store">
            <img class="btn__img" src="/assets/svg/apple-store.svg" alt="" />
          </a>
          <a href="#" class="btn btn--store">
            <img class="btn__img" src="/assets/svg/google-play.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="block__item block__item--img block__item--img-no-padding">
      <img class="block__img" src="/assets/img/blocks/main.png" alt="" />
    </div>
  </div>
</div>
