.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-decoration: none;
  box-shadow: none;
  padding: 8px 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  color: #fff;

  &&--store {
    border: 1px solid #49e9b3;
    min-width: 180px;
    height: 52px;
  }

  & + & {
    margin-left: 30px;
  }
}
