<footer class="footer">
  <div class="footer__content">
    <div class="footer__logo">
      <img class="footer__logo-img" src="./assets/svg/logo-sm.svg" alt="" />
      <span class="footer__logo-text">Persona</span>
    </div>
    <div class="footer__menu">
      <a
        class="footer__menu-link"
        href="https://persona.camera/privacy_policy_persona.pdf"
        target="_blank"
        >Privacy Policy</a
      >
      <a
        class="footer__menu-link"
        href="https://persona.camera/terms_of_use_persona.pdf"
        target="_blank"
        >Terms of use</a
      >
    </div>
  </div>
</footer>
